<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>About Us</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>

<body>
    <!-- start header Area -->
    <!-- end header Area -->
    <!-- start banner Area -->
    <section class="banner-area relative about-banner" id="home">
        <img class="cta-img img-fluid" src="~/Content/img/cta-img.png" alt="">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="about-content col-lg-12">
                    <h1>
                        About Us
                    </h1>
                    <p class="link-nav">
                        <a href="/Home/Index">Home </a>
                        <span class="lnr lnr-arrow-right"></span> <a href="/Home/About">
                            About Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start About Us Area -->
    <!-- End About Us Area -->
    <!-- Start testomial Area -->
    <section class="testomial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>WHAT HAPPENS...</h1>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="active-testimonial-carusel">
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y1.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do Push-Ups Every Day?
                            Push-ups are an excellent strength exercise that will work your entire body. They even ...
                        </p>
                        <a href="https://www.livestrong.com/article/378020-what-do-pushups-do-to-your-body/">Read more</a>
                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y2.png" alt="">
                        <p class="desc">
                            If you ignore the symptoms of overreaching and continue to train, you may develop OTS, which can cause more serious symptoms. Oftentimes, athletes...

                        </p>
                        <a href="https://www.livestrong.com/article/401934-what-happens-to-your-body-when-you-work-out-too-much/">Read more</a>

                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y3.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do a Body-Weight Workout Every Day? Your body can actually be a phenomenal piece of equipment. The body is...
                        </p>
                        <a href="https://www.livestrong.com/article/13730055-body-weight-exercises-every-day-effects/">Read more</a>

                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y4.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Run Every Day? "Running is a full-body metabolic, weight-bearing workout, so the benefits are enormous," Andrew Slane...
                        </p>
                        <a href="https://www.livestrong.com/article/531257-the-effects-of-jogging-every-day/">Read more</a>
                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y5.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do Lunges Every Day? Second only to squats (and maybe deadlifts), lunges are one of the most functional exercises you...
                        </p>
                        <a href="https://www.livestrong.com/article/328702-how-many-lunges-should-i-do-daily/">Read more</a>

                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y8.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Don't Exercise? Physical activity places a high demand on your heart to pump blood to your working muscles, and many of...
                        </p>
                        <a href="https://www.livestrong.com/article/377725-what-happens-to-your-body-when-you-dont-exercise/">Read more</a>

                    </div>


                </div>
            </div>
        </div>
    </section>

    <!-- End testomial Area -->
    <!-- start footer Area -->
    <!-- End footer Area -->


    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>