<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" rel="stylesheet">
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="~/Content/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>

<body>
    <!-- start header Area -->
    <!-- end header Area -->
    <!-- start banner Area -->
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container-fluid">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 banner-img">
                    <img class="img-fluid" src="~/Content/img/a4.png" alt="">
                </div>
                <div class="banner-content col-lg-6 col-md-6">
                    <h1 class="text-uppercase">
                        <span>HomeFitness</span> to <br> Shape your body
                    </h1>

                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- Start About Us Area -->
    <section class="about-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>HOMEFITNESS CAN CHANGE YOUR LIFE</h1>
                        <p>Keep the balance.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 about-right">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-about">
                                <h4>Mental health</h4>
                                <p>
                                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood.
                                    Over the course of your life, if you experience mental health problems, your thinking, mood, and behavior could be affected.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about">
                                <h4>Physical activity</h4>
                                <p>
                                    Physical activity or exercise can improve your health and reduce the risk of developing several diseases like type 2 diabetes, cancer and cardiovascular disease. Physical activity and exercise can have immediate and long-term health benefits. Most importantly, regular activity can improve your quality of life.
                                    Exercise is also very important for mental wellbeing with reductions seen in anxiety and depression.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about">
                                <h4>Healthy eating</h4>
                                <p>
                                    Healthy eating has many other benefits. When we eat well we sleep better, have more energy and better concentration – and this all adds up to healthier, happier lives! Healthy eating should be an enjoyable social experience. When children and young people eat and drink well they get all the essential nutrients they need for proper growth and development, and develop a good relationship with food and other social skills.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-about">
                                <h4>Healthy life</h4>
                                <p>
                                    Eating a healthy balanced diet accompanied by regular exercise is essential in maintaining physical and mental health and well-being. Not only are these effective in preventing excess weight gain or in maintaining weight loss, but healthier lifestyles are also associated with improved sleep and mood.Good health allows people to do many things.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 about-left">
                    <img class="img-fluid" src="~/Content/img/about-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Area -->
    <!-- Start Features Area -->
    <section class="feature-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>TRAINING</h1>
                        <p>Make your life better.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex align-items-center">
                <div class="col-lg-6 col-md-6 single-feature">
                    <figure>
                        <img class="img-fluid" src="~/Content/img/e1.jpg" alt="">
                        <div class="overlay overlay-bg"></div>
                    </figure>
                    <div class="text-center">
                        <h4 class="mb-10">Get into shape, start now</h4>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 single-feature">
                    <figure>
                        <img class="img-fluid" src="~/Content/img/e2.jpg" alt="">
                        <div class="overlay overlay-bg"></div>
                    </figure>
                    <div class="text-center">
                        <h4 class="mb-10">Make an effort, not an excuse</h4>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 single-feature">
                    <figure>
                        <img class="img-fluid" src="~/Content/img/e5.jpg" alt="">
                        <div class="overlay overlay-bg"></div>
                    </figure>
                    <div class="text-center">
                        <h4 class="mb-10">Find a way, you have time</h4>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 single-feature">
                    <figure>
                        <img class="img-fluid" src="~/Content/img/e8.jpg" alt="">
                        <div class="overlay overlay-bg"></div>
                    </figure>
                    <div class="text-center">
                        <h4 class="mb-10">There is no age limit</h4>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Features Area -->
    <!-- Start schedule Area -->

    <section class="cta-one-area relative section-gap">
        <img class="cta-img img-fluid" src="~/Content/img/cta-img.png" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="wrap">
                    <h1>BECOME THE BEST VERSION OF YOURSELF</h1>
                    <p>
                        Balance is the Key to Health and Success.
                    </p>

                </div>
            </div>
        </div>
    </section>


    <!-- End schedule Area -->
    <!-- Start testomial Area -->
    <section class="testomial-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>WHAT HAPPENS...</h1>
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="active-testimonial-carusel">
                    <div class="single-testimonial item">
                        <img  src="~/Content/img/y1.png"  alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do Push-Ups Every Day?
                            Push-ups are an excellent strength exercise that will work your entire body. They even ...
                        </p>
                        <a href="https://www.livestrong.com/article/378020-what-do-pushups-do-to-your-body/">Read more</a>
                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y2.png" alt="">
                        <p class="desc">
                            If you ignore the symptoms of overreaching and continue to train, you may develop OTS, which can cause more serious symptoms. Oftentimes, athletes...

                        </p>
                        <a href="https://www.livestrong.com/article/401934-what-happens-to-your-body-when-you-work-out-too-much/">Read more</a>
                     
                    </div>
                    <div class="single-testimonial item">
                        <img  src="~/Content/img/y3.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do a Body-Weight Workout Every Day? Your body can actually be a phenomenal piece of equipment. The body is...
                        </p>
                        <a href="https://www.livestrong.com/article/13730055-body-weight-exercises-every-day-effects/">Read more</a>

                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y4.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Run Every Day? "Running is a full-body metabolic, weight-bearing workout, so the benefits are enormous," Andrew Slane...
                        </p>
                        <a href="https://www.livestrong.com/article/531257-the-effects-of-jogging-every-day/">Read more</a>
                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y5.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Do Lunges Every Day? Second only to squats (and maybe deadlifts), lunges are one of the most functional exercises you...
                        </p>
                        <a href="https://www.livestrong.com/article/328702-how-many-lunges-should-i-do-daily/">Read more</a>

                    </div>
                    <div class="single-testimonial item">
                        <img src="~/Content/img/y8.png" alt="">
                        <p class="desc">
                            What Really Happens to Your Body When You Don't Exercise? Physical activity places a high demand on your heart to pump blood to your working muscles, and many of...
                        </p>
                        <a href="https://www.livestrong.com/article/377725-what-happens-to-your-body-when-you-dont-exercise/">Read more</a>

                    </div>                   
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- End testomial Area -->
    <!-- Start cta-one Area -->
    <section class="cta-one-area relative section-gap">
        <img class="cta-img img-fluid" src="~/Content/img/w.jpg" alt="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="wrap">
                 
                </div>
            </div>
        </div>
    </section>
    <!-- End cta-one Area -->
    <!-- Start blog Area -->
    <section class="blog-area section-gap">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title-wrap text-center">
                        <h1>NUTRITION FACTS</h1>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/f1.jpg" alt="">
                    </div>
                    <h4>What Is a Liquid Diet?</h4>
                    <div class="text-wrap">
                        <p>
                            A liquid diet is what it sounds like – having meals made up of only liquid foods or foods that turn into a liquid at room temperature. A doctor might suggest a liquid-only diet before undergoing certain medical procedures, like a colonoscopy or bariatric surgery, to manage certain recurring digestive disorders like Crohn’s Disease, or immediately after some dental surgeries. It can also be recommended for anyone who has difficulty chewing or swallowing. It’s a way of eating that’s usually meant to be temporary, and under advisement by a doctor or dietician.
                            A liquid diet doesn’t include mashed foods, like avocado or mashed potatoes. Only true liquids can be consumed, and even those should be thinned and strained.

                        </p>
                    </div>
                    <div class="meta-bottom d-flex">
                
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/f2.jpg" alt="">
                    </div>
                    <h4>Elderflower</h4>
                    <div class="text-wrap">
                        <p>
                            Elderflowers and elderberries come from species of elder plants in the genus Sambucus. Sambucus nigra, specifically, is the most common elderflower plant to be referenced.

                            Although the flowering hedge tree is native to both Europe and North America, it has a much richer European heritage. Jams, soups, and drinks — from brandy to soda to wine — are made with the berries and flowers.

                            The flowers are small and white, grow in clusters, and give off a sweet, summer-like smell. The berries are dark and round, also grow clustered together, and have a slightly bitter taste. If raw or not fully ripened, they can be mildly toxic and cause gastrointestinal distress.
                            Elderflower may not be very nutritious, but it is still undoubtedly healthy!
                            <br />
                            <br />

                        </p>
                    </div>
                    <div class="meta-bottom d-flex">
                    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 single-blog">
                    <div class="thumb">
                        <img class="img-fluid" src="~/Content/img/f3.jpg" alt="">
                    </div>
                    <h4>Apple Sauce</h4>
                    <div class="text-wrap">
                        <p>
                            Apple sauce is such a nostalgic flavor. Whether you remember the smell of it simmering on the stove when you were a kid or spooning it from a jar onto your plate, that sweet, apple-flavored treasure always brings back memories.

                            Apple sauce might seem like an indulgent treat, but did you know that apple sauce has many health benefits? Here’s our lowdown on the health benefits of apple sauce, and why it might be better for you than you realized.

                            You probably know that dietary fiber is great for a healthy digestive system. Apples are rich in fiber- and so is apple sauce. In fact, there is virtually no difference in the amount of fiber in a raw apple to the amount in apple sauce- around 3 grams per cup.
                            <br />
                            <br />

                        </p>
                    </div>
                    <div class="meta-bottom d-flex">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog Area -->
    <!-- start footer Area -->
    <!-- End footer Area -->


    <script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/js/easing.min.js"></script>
    <script src="~/Content/js/hoverIntent.js"></script>
    <script src="~/Content/js/superfish.min.js"></script>
    <script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/jquery.tabs.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/mail-script.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>

</html>